select, button {
	color: white;
	background-color: green;
	border: none;
	padding: 5px 5px;
}
input {
	background-color: white;
	color: green;
	border: green solid 2px;
	text-align: center;
}
.cardbut {
	margin: 0px;
	padding: 4px;
	border: 2px;
	border-radius: 20px;
	width: 7%;
}
img {
	height: 300px;
}
th, td {
	text-align: center;
}
#callcard {
    width: 40%;
    height: 20%;
    position: absolute;
    left: 40%;
    z-index: -3;
}
a {
	cursor: pointer;
}