{% extends 'base.html' %}

{% block head %}
<script>
  function plus_minus() {
    val=$('#qwert').is(':checked');
        $.ajax({
            data: {
                    'name': val // from form
                },
            url:"/plus_minus/",
            dataType : 'json',
            success: function(data){
              if(parseInt(data.values)==1) {
                  location.reload();
              }
             }
        });
  }
</script>
{% endblock %}

{% block content %}
  <h2>Welcome, {{ user.get_full_name }} <small>({{ user.username }})</small></h2>
  <p>Your rating is: {{ user.profile.rating }}</p>
  <input type="checkbox" id="qwert" />
  <a onclick="return plus_minus()">play online plus minus</a></p>
  <a href="{% url 'highscore' %}">Highscores</a>
  <a href="{% url 'rules' %}">Rules</a>
{% endblock %}